#foto1{width: 100%;}

#fotoR{width: 20%;}

#FotoN{width: 20%;}

#FotoM{width: 20%;}

h1 {
text-align: center;
color: slategrey;
border-width: 10px;
border-style: solid;
border-color: black;
}

p{
    text-align: justify;
}

